@font-face {
  font-family: "Heroes Legend";
  src: url('./fonts/Heroes Legend.ttf')
}

.App {
  text-align: center;
  background-color: #f5f5f5
}

.App-logo {
  height: 100px;
}

.App-header {
  background-color: rgba(0, 0, 0, 0);
  color: #222;
  box-shadow: 3px 8px 20px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 8px 20px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 8px 20px 0px rgba(0, 0, 0, 0.2);
}

.App-title {
  color: #1d1d1d;
  font-family: "Heroes Legend";
  padding-top: 20px;
}


.search-input {
  width: 60%;
  margin: 0 auto;
  height: 80px;
  margin-top: 10px;
  font-size: 24px;
  font-family: monospace;
  padding-left: 20px;
  color: #1d1d1d;
  border: 5px solid red;
  border-width: 0 0 5px;
  outline: 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  margin-bottom: 10px;
}

.btn-searchy {
  margin-left: 1em;
  font-size: 2em;
  background-color: rgb(233, 0, 0);
  font-family: monospace;
}

.search-wrapper {
  margin: 0 auto;
}

.img-posters {
  width: 80%;
  margin: 30px;
  cursor: pointer;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  -webkit-box-shadow: 0px 6px 35px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 35px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 35px -1px rgba(0,0,0,0.75);
  }

  

  .linkss {
    display: flex;
    justify-content: flex-end;
  }

  .link-href {
    margin: 0 10px 0 0;
    padding: 0 10px 5px 10px;
    color: black;
    font-size: 28px;
  }

  .melogo:hover {
    color: blue;
  }

  .githublogo:hover {
    color: rgb(98, 0, 175);
  }

  .tweetlogo:hover {
    color: #4099FF;
  }

@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeInUp ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeInUp ease-in 1;
  animation: fadeInUp ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.7s;
  -moz-animation-duration: 0.7s;
  animation-duration: 0.7s;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color: rgba(4, 19, 33, 0.776);
  border-radius: 10px;
}

.detail-text {
  padding: 50px 30px 30px 30px;
  color: white;
  font-size: 1em;
}

.detail-title {
  padding: .5em 1em 1em 0;
  color: white;
}

.detail-img {
  padding: 20px 0 0 20px;
}

.detail-info {
  padding: 30px;
  color: white;
  font-size: 1em
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.btn-closing {
  padding: 2em 0 0 4.5em;
}

.btn-closing > p {
  cursor: pointer;
  color: #fff;
  font-size: 2em;
  border-radius: 100px;
  border: 1px solid #d2d0d0;
  text-align: center
}

.wrappy {
  margin-left: 2em;
  position: fixed;
}

.loader {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}

.img-also {
  width: 120px;
  margin: 10px;
  cursor: pointer;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

.zoomIn {
  /* make things invisible upon start */
  -webkit-animation: zoomIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: zoomIn ease-in 1;
  animation: zoomIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

.darkmode {
  background-color: #222;
  text-align: center;
  
}

.darkmode-title {
  color: #f5f5f5;
  font-family: "Heroes Legend";
  padding-top: 20px;
}

.buttonDarkMode {
  margin-bottom: 10px;
}

.darkmode-href {
    margin: 0 10px 0 0;
    padding: 0 10px 5px 10px;
    color: #f5f5f5;
    font-size: 28px;
}
